@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed:wght@200;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:wght@300;400;500;700;900&display=swap');

*,*::before,*::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;

} 
:root{
    --bg-white:#fff;
    --primary-text:#061738;
    --secondary-color: #60cd12;
    --light-color:#e2f6de;
    --dark-color: #03262c;
    --text-white: #fff;
    --text-gray: #dee2e6;
    --anchor-color:#007aff;
    --primary-font: 'Barlow Condensed', sans-serif;
    --secondary-font: 'Roboto', sans-serif;

}
body,html{
    color: #e7e6e6;
 
	width: 100%;
	height: 100vh;
    font-size: 10px;
    font-weight: 400;
    font-family: var(--primary-font);
    scroll-behavior: smooth;
    line-height: 1.5;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
h1{
    font-size: 9rem;
    line-height: 1.4;
    font-weight: 600;
    color: var(--primary-text);
}
h2{
    color: var(--primary-text);
    font-size: 4.7rem;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
    line-height: 1.2;
    margin-bottom: 2rem;
}
h3{
    color: var(--text-white);
    font-size: 3.1rem;
    line-height: 1.2;
    font-weight: 700;
}
h4{
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: var(--primary-text);
}
h5{
    font-size: 1.6rem;
    line-height: 1;
    font-weight: 600;
    color: var(--primary-text);
}
p{
    font-size: 1.6rem;
    line-height: 1.6;
    margin-top: 1rem;
    color: var(--primary-text);
    font-family: var(--secondary-font);

}
embed,iframe,img,object{
    max-width: 100%;
}
ul{
    margin:0;
    padding: 0;
    list-style: none;
}
a,a:active,a:focus,a:hover,button{
    text-decoration: none;
    outline: 0;
}
li a{
    color: var(--text-white);
}
a:hover,button:hover{
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: var(--bg-white);

}
::-webkit-scrollbar-thumb{
    background: var(--secondary-color);

}


section{
    padding: 5rem 0;
}
.section-title{
    font-size: 4rem;
     font-weight: 600;
     color: var(--primary-text);
     text-transform: capitalize;
     margin-bottom: 2rem;
}
.section-subtitle{
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-text);
    font-family: var(--secondary-font);
    max-width: 40%;
    margin: auto;
    margin-bottom: 1.5rem;
}
  /* pre-defined upto here */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.navbar{
    width: 100%;
    position: absolute;
    padding: 20px 5%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .navbar-brand {
    text-decoration: none;
    margin-left: 60px;
    margin-bottom: 70px;
    width: 100px;
    height: 30px;
    color: black;
}
.logo{
    width: 60px;
    cursor: pointer;
}
.navbar .collapse .navbar-nav .nav-item .nav-link{
    list-style: none;
    display: inline-block;
    margin-right: 18px;text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight:600;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
    font-family:var(--primary-font) ;
}
.navbar ul li a{
    text-decoration: none;
    color:black;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-weight:600;
    padding: 0.5rem 2rem;
    margin: 0 0.2rem;
    font-family:var(--primary-font) ;
}
.navbar ul li a:hover{
    
    background: hsl(19, 97%, 59%);
    transition: all 0.5s ease-in;
    
    
}
.navbar a:hover{
    
    color:#fc7233;
}



.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0,0.6);
    max-width: 900px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
}

.searchbtn {
    background: #ffec00;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}




.overlay{
    position: absolute;
    Width: 100%;
    height: 10px;
    bottom: 0;
    Left: 0;
    margin: 10px 0 230px 0;
}
    .inner{
    position: absolute;
    top: 50%;
    Left: 50%;
    transform: translate(-50%,-50%)
    }
    

.container .video-container{
    display:flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
    background-color:#fff ;
    align-items: center;
    position: relative;
}
.container .video-container .video{
    height: 250px;
    width: 350px;
    border: 5px solid #fff;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0,0.7);
    cursor: pointer;
    overflow: hidden;
}
.container .video-container .video video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.container .video-container .video:hover video{
    transform: scale(1.1);  
    opacity: 50px;
    
     
}
.container .video-container .video:hover img{
    transform: scale(1.1);  
    opacity: 50px;
    
     
}
.container .video-container .video img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.footer{
	background-image: url(https://i.postimg.cc/SN8GZ00q/footer-bg.png);
    padding: 100px 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}
.col-md-3{
   width: 25%;
   padding: 0 15px;
}
.col-md-3 h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.col-md-3 h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.col-md-3 ul li:not(:last-child){
	margin-bottom: 10px;
}
.col-md-3 ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.col-md-3 ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.col-md-3 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.col-md-3 .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer .container .row p{
margin: 50px 0 -30px 0 ;
    color: #fff;
    text-align: left;
    font-size: 12px;
}
/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
